// Breakpoint variables
$phone: 480px;
$phablet: 768px;
$tablet: 992px;
$desktop: 1200px;

// Container size
$container-size: 1200px;

// Header / Footer
$header-height: 104px;

// Transitions
$duration: .3s;